body {
  background-color: dodgerblue;
}


.col-sm-12 {
	padding-top: 50px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.hidden {
  display: none;
}

.divider {
	height: 10px;
	background-color: dodgerblue;
}

.dividerWhite {
  height: 10px;
  background-color: #eee;
}

.listingThumbnail {
  padding-bottom: 50px;
}

#accountBtn {
 padding-top: 10px;
}

.thumbnailbtn {
  margin-left:15%;
}

.bluetxt {
  color: dodgerblue;
}


p.onError {
  color: tomato;
  font-size: 12px;
  margin: 0 0 0 4px;
}

