@import url(//fonts.googleapis.com/css?family=Pacifico);

body {
  background-color: dodgerblue;
}

.stars {
  float: left;
}


.row-centered {
    text-align:center;
}


.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
}


.bigheading {
font-family: 'Pacifico', sans-serif;
}


.hidden {
  display: none;
}


.divider {
	height: 10px;
	background-color: dodgerblue;
}


.dividerWhite {
  height: 10px;
  background-color: #eee;
}

.listingsDivider {
  height: 100px;
}

.listingThumbnail {
  background-color: #eee;
    border:solid 1px dodgerblue;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.listingThumbnail img {
  padding-top: 10px;
}

.thumbnailbtn {
  margin-bottom: 10px;
}

#accountBtn {
 padding-top: 10px;
 padding-right: 10px;
}

.searchBar {
  margin-left: 11px;
  margin-bottom: 5px;
}

.bluetxt {
  color: dodgerblue;
}

.main-jumbotron {
background-image: url("https://images.unsplash.com/photo-1454269996696-bf4d98fde5da?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=5203b47bf381c09fef5ae040a7cf7dbf");
background-size: cover;
border-bottom: 10px;
}


p.onError {
  color: tomato;
  font-size: 14px;
  margin: 3px 0 3px 4px;
}

.form-control {
  margin: 3px 0;
}
.form-control.error {
  border-color: red;
  border-width: 2px;
}

